/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



p {

    font-family: sans-serif;
    /* letter-spacing: 0.2px; */
    text-shadow: 0.4px 0.4px 0px #F44336,
                 0.8px 0.8px 0px #2196F3,
                 1.2px 1.2px 0px #9C27B0;
}