/*
اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
وجليسك على العرش يوم القيامة
محمد صلى الله عليه وسلم
*/



/* Any Element it's class is 'title' */

/*
أي عنصر القيمة بتاعت ال
class
فيه هي
'title' 
*/

.title {
}



/* Any Element it's id is 'nav' */
/*
أي عنصر القيمة بتاعت ال
id
فيه هي
'nav' 
*/

#nav {
}



/* Any div tag*/

/*
أي
div 
في كود ال
html
*/

div {
}



/* Any h2 tag*/

/*
أي
h2 
في كود ال
html
*/

h2 {
}