/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/

/*
    في كل لغة بيكون فيه طريقة كتابة مشهورة
    في
    CSS
    المشهور هو انك تفصل بين الأسماء ب
    -

    زي كده مثلا

    user-name
*/

/* UPPERCASE */
.USERNAME {
}

/* PascalCase */
.UserName {
}

/* kebab-case */        /* هي دي الشائعة في CSS */
.user-name {
}

/* camelCase */
.userName {
}

/* شغل تحت السلم */
.usernameprofile {
}