/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



.first,
.second,
.third {

    text-align: center;
    font-size: 70px;
}

.first {

    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.second {

    font-family: Cairo, sans-serif;
    font-weight: 700;
}

.third {

    font-family: "Jomhuria", serif;
    font-weight: 400;
}