/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



.shape-1,
.shape-2,
.shape-3 {

    display: inline-block;
    background-color: #D4D4D4;
    border-width: 5px;
    outline: 5px solid black;
    padding: 20px;
    margin-right: 20px;
}

.shape-1 {

    border-color: red;
    border-style: solid;
}

.shape-2 {

    border-color: blue green;
    border-style: solid;
}

.shape-3 {

    border-color: red green blue yellow;
    border-style: dashed;
}