/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



div div span {

    color: red;
}

div span {

    color: blue;
}

div.title, p {

    color: green;
}